{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"/>
    <title>DJANGO E-commerce</title>
</head>
<body>
    <header>
        <nav class="top-header">
            <ul id="account">
                <a><li>Sobre nós</li></a>
                {% if user.is_authenticated %}
                    <a href="/profile"><li>Minha conta</li></a>
                {% else %}
                    <a href="/login"><li>Minha conta</li></a>
                {% endif%}
                <a><li>Lista de desejos</li></a>
                {% if user.is_authenticated %}
                <a href="/products/create"><li>Vender</li></a>
                {% endif %}
            </ul>
            <ul></ul>
            <ul>
                <a><li>Precisa de ajuda? Ligue: 800-800</li></a>
                <a><li>Portugês</li></a>
                <a><li>BRL</li></a>
            </ul>
        </nav>
        <nav class="mid-header">
            <a style="text-decoration: none; margin: auto;"href="/"><h1 style="margin: auto;color: #5000ca;">Django E-commerce</h1></a>

            <div class="search">
                <input placeholder="Pesquise aqui..." id="search" type="text">
                <div id="icon" style="background-image: url('{% static 'images/search.png' %}');"></div>
            </div>
            <div style="margin: auto;" id="account">
                
            </div>
        </nav>
        {% if user.is_authenticated %}
        <nav class="lower-header">
            <a id="myproducts" href="/myproducts">Meus produtos</a>
        </nav>
        {% endif %}
    </header>

    <main>
        <section class="first">
            <aside>
                <h2>Categorias</h2>
                <ul>
                    <a href="/category/clothes"><li><div id="icon" style="background-image: url('{% static 'images/clothes.png' %}');"></div><span>Roupas</span></li></a>
                    <a href="/category/shoes"><li><div id="icon" style="background-image: url('{% static 'images/shoes.png' %}');"></div><span>Sapatos</span></li></a>
                    <a href="/category/tech"><li><div id="icon" style="background-image: url('{% static 'images/tech.png' %}');"></div><span>Informatica</span></li></a>
                    <a href="/category/acessories"><li><div id="icon" style="background-image: url('{% static 'images/acessories.png' %}');"></div><span>Acessórios</span></li></a>
                    <a href="/category/food"><li><div id="icon" style="background-image: url('{% static 'images/food.png' %}');"></div><span>Comidas</span></li></a>
                </ul>
            </aside>
            <article>
                {% for item in product %} 
                    <div class="product">
                        {% if user.is_authenticated %}
                            <a><div style="background-image: url('{% static 'images/heart.png' %}');" id="wishlist-icon"></div></a>
                            {% if myProduct %}
                                <a href="/products/delete/{{item.id}}"><div id="trash" style="background-image: url('{% static 'images/trash.png' %}');" ></div></a>
                            {% endif %}
                        {% endif%}
                        <div style="background-image: url('/media/{{item.image}}');" class="image"></div>
                        <h3>{{item.title}}</h3>
                        <span>{{item.price}}</span>
                        <p style="margin-bottom: 1rem; font-size: 12px; color: gray;">À vista no pix</p>
                        <button><div id="icon" style="background-image: url('{% static 'images/cart.png' %}');"></div><span id="text">COMPRAR</span></button>
                    </div>
                {% endfor %}
            </article>
        </section>
    </main>
</body>
</html>